.daily {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.daily > p:first-of-type {
  font-size: 40px;  
  font-weight: 700;
  margin: 0;
}

.daily > p:last-of-type {
  font-size: 16px;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;  
}
